<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>

<!--        
     <add name="ConnectionString" 
          connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\SeaPPDatabase.mdf;Integrated Security=True" 
          providerName="System.Data.SqlClient" />

-->  

     <add name="ConnectionString" 
         connectionString="workstation id=SeaPPDatabase.mssql.somee.com;packet size=4096;user id=long261vn_SQLLogin_1;pwd=7nmfrwszf1;data source=SeaPPDatabase.mssql.somee.com;persist security info=False;initial catalog=SeaPPDatabase" 
         providerName="System.Data.SqlClient" />
 

  </connectionStrings>
  <appSettings>     
       <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>   
  </appSettings>
  <system.web>
    <pages theme="Darkblue"/>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>